.content {
  padding-top: 0px; /* height of header + navbar*/
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

@media (min-width: 768px) {
  .navbar {
    top: 0px;
  }

  .pagewide {
    height: 60px;
  }

  nav .navbar-nav li a:not(.dropdown-menu *) {
    color: white !important;
  }

  nav .navbar-nav li a:hover {
    color: grey !important;
  }
}

.scrollable-routes {
  overflow-y: auto;
  max-height: 400px;
}

#data_table_routes th,
td {
  white-space: nowrap;
}

#trips_table .form-control {
  width: auto;
  height: 35px;
  line-height: 35px;
}

body {
  background-color: #f8f8ff;
}

.current-day {
  background-color: #FFFDD0;
}

td.make-routes-present-day {
  background-color: #FFFF8F !important;
}

.make-routes-div {
  transform: scale(0.55);
}

td.facility-visited {
  background-color: #6F7378 !important;
  font-weight: bold !important;
}