{% extends 'sample_volumes/main.html' %} {% load custom_tags %} {% block content %}
<div class="row">
  <div class="col-md-4">
    <form method="POST" action="" class="form-inline">
      {% csrf_token %}
      <div class="form-group py-2 px-2">
        <label for="districtList" class="sr-only">Select District</label>
        <select class="form-control" id="select_district" name="district">
          <option value="" disabled selected>Select your district</option>
          {% for district in districts %}
          <option value="{{district.id}}">{{district.name}}</option>
          {% endfor %}
        </select>
        {{ request.user.id|json_script:"user_id" }}
        <script>
          var selected_district = "{{selected_district.id}}";
          var selected_district_name = "{{selected_district.name}}";  
          document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("select_district").value =
              selected_district;
          });
        </script>
      </div>
      <button type="submit" class="btn btn-sm btn-primary py-2 px-2">
        Search
      </button>
    </form>
  </div>
  <div class="col-md-4">
    <div class="row py-2 px-2">
      <p>
        Route Date:
        <span class="badge badge-pill badge-dark"
          ><script>
            var tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate() + 1);
            const options = {
              weekday: "long",
              year: "numeric",
              month: "long",
              day: "numeric",
            };
            document.write(tomorrow.toLocaleDateString(undefined, options));
          </script></span
        >
      </p>
      &nbsp;
      <p>
        Route Status:
        <span class="badge badge-{{route_status.badge_color}} route_status">{{route_status.display_text}}</span>
      </p>
    </div>
  </div>
  <div class="col-md-4 d-flex justify-content-center" style="height:40px;">
    <button type="button" class="btn btn-sm btn-success" id="save_routes">{{route_status.button_text}}</button>
  </div>
</div>
</div>
<hr />

{% if selected_district %}
<div class="row">
  <div class="col-md-8">
    <div class="card card-inverse card-primary">
      <div class="card-body">
        <h4 class="card-description">{{selected_district.name}}</h4>
        <div style="overflow-x: hidden">
          <table class="table table-sm" id="data_table_routes">
            <thead class="thead-light">
              <tr>
                <th scope="col">Route</th>
                <th scope="col">Facility</th>
                <th scope="col">Visits This Week</th>
                <th scope="col">Previous Visit</th>
                <th scope="col">Days Since Last Visit</th>
                {% for date in date_list %}
                <th scope="col">{{date.date_string}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for facility in facilities %}
              <tr>
                <td>
                  <select
                    name="route"
                    id="choose_route_{{facility.id}}"
                    class="addroutes"
                  >
                    <option value="">------</option>

                    {% if courier_count %} 
                    <script>
                      var courier_count = "{{courier_count}}";
                    </script>
                      {% for x in courier_count%}
                        <option value="{{x|add:"1"}}">{{x|add:"1"}}</option>
                      {% endfor %} 
                    {% endif %}
                  </select>
                </td>
                <td>{{facility.name}}</td>
                <td>NA</td>
                <td>NA</td>
                {% comment %} {% for date in date_list %}
                <td>{% get_daily_volumes_from_faciliy facility 'types' date.date %}</td>
                {% endfor %} {% endcomment %}
                <td>1</td>
                {% for date in date_list %}
                <td>{% get_daily_volumes_from_faciliy facility 'types' date.date %}</td>
                {% endfor %}
                {% comment %} <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>  {% endcomment %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div id="accordion">
      {% for x in courier_count%}
        <div class="card">
          <div class="card-header" id="headingOne">
            <div class="mb-0 justify-content-between align-items-center">
              <button
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapse{{x|add:'1'}}"
                aria-expanded="true"
                aria-controls="collapse{{x|add:'1'}}"
              >
                Route {{x|add:'1'}}
                <span
                  class="badge badge-primary badge-pill"
                  id="route_facilities_count_{{x|add:'1'}}"
                  >0</span
                >
              </button>
            </div>
          </div>
          <div
            id="collapse{{x|add:'1'}}"
            class="collapse show"
            aria-labelledby="heading1"
            data-parent="#accordion"
          >
            <div class="card-body">
              <ul class="list-group route_list" id="facilities_route_{{x|add:'1'}}"></ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <p>Please Select District</p>
  {% endif %} {% endblock content%}
</div>
