{% extends 'sample_volumes/main.html' %} {% load custom_tags %} {% block content %}
<div class="row">
  <div class="col-md-6">
    <form method="POST" action="" class="form-inline">
      {% csrf_token %}
      <div class="form-group py-2 px-2">
        {% if selected_date %} {{ selected_date|json_script:"selected_date" }}
        {% endif %}
        <label class="mr-sm-2" for="default_date">Route date:</label>
        <input
        type="date"
        name="date"
        class="form-control"
        id="datePicker2"
        placeholder="Select Date"
        required
      />
        &nbsp;        
        <label for="districtList" class="sr-only">Select District</label>
        <select class="form-control" id="select_district" name="district">
          <option value="" disabled selected>Select your district</option>
          {% for district in districts %}
          <option value="{{district.id}}">{{district.name}}</option>
          {% endfor %}
        </select>
        {{ request.user.id|json_script:"user_id" }}
        <script>
          var selected_district = "{{selected_district.id}}";
          var selected_district_name = "{{selected_district.name}}";  
          document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById("select_district").value =
              selected_district;
          });
        </script>
      </div>
      <button type="submit" class="btn btn-sm btn-primary py-2 px-2">
        Search
      </button>
    </form>
  </div>
  <div class="col-md-5">
    <div class="row py-2 px-2">
      <p>
        Route Status:
        <span class="badge badge-{{route_status.badge_color}} route_status">{{route_status.display_text}}</span>
      </p>
    </div>
  </div>
  <div class="col-md-1 d-flex justify-content-center" style="height:40px;">
    
    {% if future_date %}
    
    &nbsp;
      <button type="button" class="btn btn-sm btn-success" id="save_routes">{{route_status.button_text}} <span id="make-route-spinner" style="display:none"><i class="fas fa-spinner fa-lg fa-spin"></i></span></button>
    {% endif %}
      
  </div>
</div>
</div>
<hr />

{% if selected_district %}
<div class="row">
  <div class="col-md-9">
    <div class="card card-inverse card-primary">
      <div class="card-body">
        <h4 class="card-description">{{selected_district.name}} routes for {{selected_date|date:"D d M Y"}} </h4>
        <small>USSD Reporting (VL-DBS_VL-Plasma_EID_TB_Other)</small>
        <div style="overflow-x: hidden">
          <table class="table table-sm table-bordered" id="data_table_routes">
            <thead class="thead-light">
              <tr>
                <th scope="col">Route</th>
                <th scope="col">Facility</th>
                <th scope="col">Group</th>
                <th scope="col">Visits This Week</th>
                <th scope="col">Days Since Last Visit</th>
                {% for date in date_list %}
                <th scope="col">{{date.date_string}}</th>
                {% endfor %}
                <th scope="col">Previous Visit</th>
              </tr>
            </thead>
            <tbody>
              {% for facility in facilities %}
              <tr>
                <td>
                  <select
                    name="route"
                    id="choose_route_{{facility.id}}"
                    class="addroutes"
                  >
                    <option value="">------</option>

                    {% if courier_count %} 
                    <script>
                      var courier_count = "{{courier_count}}";
                    </script>
                      {% for x in courier_count%}
                        <option value="{{x|add:"1"}}">{{x|add:"1"}}</option>
                      {% endfor %} 
                    {% endif %}
                  </select>
                </td>
                <td>{{facility.name}}</td>
                <td>{{facility.facility_group}}</td>
                <td>NA</td>
                {% comment %} {% for date in date_list %}
                <td>{% get_daily_volumes_from_faciliy facility 'types' date.date %}</td>
                {% endfor %} {% endcomment %}
                <td>{{facility.days_since_last_visit}}</td>
                {% for date in date_list %}
                {% get_daily_volumes_from_facility facility 'string_if_visited' date.date as volume_visit %}
                <td class='{% if forloop.last %}make-routes-present-day{% endif %} {% if volume_visit.1  %}facility-visited{% endif %}' style="text-align:center">{{volume_visit.0}}</td>
                {% endfor %}
                <td>{{facility.get_last_visit|date:"D j-M"}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div id="accordion">
      {% for x in courier_list%}
        <div class="card">
          <div class="card-header" id="headingOne">
            <div class="mb-0 justify-content-between align-items-center">
              <button
                class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapse{{ forloop.counter }}"
                aria-expanded="true"
                aria-controls="collapse{{ forloop.counter }}"
              >
                {% comment %} Route {{x|add:'1'}} {% endcomment %}
                Route {{ forloop.counter }} - {{x.name}}
                <span
                  class="badge badge-primary badge-pill"
                  id="route_facilities_count_{{ forloop.counter }}"
                  >0</span
                >
              </button>
            </div>
          </div>
          <div
            id="collapse{{ forloop.counter }}"
            class="collapse show"
            aria-labelledby="heading1"
            data-parent="#accordion"
          >
            <div class="card-body">
              <ul class="list-group route_list" id="facilities_route_{{ forloop.counter }}" courier={{x.id}}></ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
  <p>Please Select District</p>
  {% endif %} {% endblock content%}
</div>
