{% load static %} {% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Courier Report</title>
  </head>
  <style>
    body {
      font-family: "Lucida Console", "Courier New", monospace;
    }
    .container {
      margin: 5px;
    }
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    th {
      padding: 3px;
    }
    tr {
      padding-top: 1px;
    }
    .red {
      color: red;
    }
    .grey {
      color: grey;
    }
    td, th {
      font-size: 13px;
    }
    @media print {
      .courier_report:not(:first-of-type) {
        page-break-before: always;
      }
    }
  </style>
  <body>
    <div class="container">
      {% for courier in couriers %}
      <div class="courier_report">
        <img
          src="file:///C:/Users/itszw/Dev/st_optimization/static/images/r4h_logo.png"
          alt="logo"
          style="width: 100px; height: 32px"
        />
        {% comment %} <img src="file:///C:/Users/itszw/Dev/st_optimization/static/images/r4h_logo.png"> {% endcomment %}
        {% comment %} src="{% static 'images/r4h_logo.png' %}" {% endcomment %}
        <header>
          <p>Courier report for <strong>{{courier.name}}</strong></p>
          <span>District: {{district.name}}</span>
        </header>
        <p>Date: <strong>{{date|date:"Y-m-d"}}</strong></p>
        <small>Report generated: {{generated_time|date:"Y-m-d, H\hi"}}</small>
        <h3>Overview</h3>
        <p>
          Scheduled route: {%  get_route_facilities route_assignments|get_item:courier.id %}
        </p>
        <p>CommCare route confirmation: no</p>
        {% get_courier_overview courier route_assignments|get_item:courier.id date as overview %}
        
        {% if overview %}
        <table style="border-collapse: collapse" width="60%">
          <thead>
            <tr
              style="
                border-top: 1pt solid black;
                border-bottom: 1pt solid black;
              "
            >
              <th style="text-align: left; width: 40%">Facility</th>
              <th>Scheduled</th>
              <th>Trip logged</th>
              <th>Visit logged</th>
            </tr>
          </thead>
          <tbody>
            {% for facility in overview %}
            <tr>
              <td style="text-align: left">{{facility.facility}}</td>
              <td
                style="text-align: center"
                class="{% if facility.scheduled == 'no' %}red{% endif %}"
              >
                {{facility.scheduled}}
              </td>
              <td
                style="text-align: center"
                class="{% if facility.trip_logged == 'no' %}red{% endif %}"
              >
                {{facility.trip_logged}}
              </td>
              <td
                style="text-align: center"
                class="{% if facility.visit_logged == 'no' %}red{% endif %}"
              >
                {{facility.visit_logged}}
              </td>
            </tr>
            {% endfor %}
            <tr style="border-top: 1pt solid black">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        {% else %}
        <p>Courier has not submitted data today</p>
        {% endif %}
        <h3>Travel records</h3>
        {% get_trips courier date as trip_facilities %}
        {% if trip_facilities %}          
        <table style="border-collapse: collapse">
          <thead>
            <tr
              style="
                border-top: 1pt solid black;
                border-bottom: 1pt solid black;
              "
            >
              <th style="text-align: left">start location</th>
              <th style="text-align: left">end location</th>
              <th style="text-align: left">start time</th>
              <th style="text-align: left">end  time</th>
              <th style="text-align: left">start km</th>
              <th style="text-align: left">end km</th>
              <th style="text-align: left">matches_route</th>
            </tr>
          </thead>
          <tbody>
            {% for facility in trip_facilities %}
            <tr>
              <td style="text-align: left">{{facility.start_location.name }}</td>
              <td style="text-align: left">{{facility.end_location.name }}</td>
              <td style="text-align: left">{{facility.start_time|time:"H:i" }}</td>
              <td style="text-align: left">{{facility.end_time|time:"H:i"}}</td>
              <td style="text-align: left">{{facility.start_km }}</td>
              <td style="text-align: left">{{facility.end_km }}</td>
              <td style="text-align: left"></td>
            </tr>
            {% endfor %}
            <tr style="border-top: 1pt solid black">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        {% else %}
        <p>No trip data submitted</p> 
        {% endif %}

        <h3>Facility visits</h3>
        {% get_visits courier date as visit_facilities %}
        
        {% if visit_facilities %}
        <table style="border-collapse: collapse">
          <thead>
            <tr style="border-top: 1pt solid black">
              <th style="width: 10%">&nbsp;</th>
              <th style="border-bottom: 1pt solid black" colspan="4" style="text-align: center">
                <small>Samples collected</small>
              </th>
              <th style="width: 10%">&nbsp;</th>
              <th style="border-bottom: 1pt solid black" colspan="4" style="text-align: center">
                <small>Results closed/delivered</small>
              </th>
            </tr>
          </thead>
          <thead>
            <tr
              style="
                border-bottom: 1pt solid black;
              "
            >
              <th style="text-align: left; width: 20%">facility name</th>
              <th style="text-align: center">VL</th>
              <th>EID</th>
              <th>TB</th>
              <th>Other</th>
              <th></th>
              <th>VL</th>
              <th>EID</th>
              <th>TB</th>
              <th>Other</th>
            </tr>
          </thead>
          <tbody>
            {% for facility in visit_facilities %}
            <tr>
              <td>{{facility.facility.name}}</td>
              {% with facility.sample_volumes|jsonify as volumes %}
              <td style="text-align: center">{{volumes.VL}} (<span>{%get_previously_reported_volume facility.facility date 1 %}</span>)</td>
              <td style="text-align: center">{{volumes.EID}}  (<span>{%get_previously_reported_volume facility.facility date 2 %}</span>)</td>
              <td style="text-align: center">{{volumes.TB}}  (<span>{%get_previously_reported_volume facility.facility date 3 %}</span>)</td>
              <td style="text-align: center">{{volumes.Other}}  (<span>{%get_previously_reported_volume facility.facility date 4 %}</span>)</td>
              {% endwith %}
              <td></td>
              {% with facility.results|jsonify as results %}
              <td style="text-align: center">{{results.VL}}</td>
              <td style="text-align: center">{{results.EID}}</td>
              <td style="text-align: center">{{results.TB}}</td>
              <td style="text-align: center">{{results.Other}}</td>
              {% endwith %}
            </tr>
            {% endfor %}
            <tr style="border-top: 1pt solid black">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table> 
        <p>Values in brackets show the number of samples reported via USSD on the previous day.</p>
        <p>(NA) indicates no USSD data was reported.</p>     
        {% else %}
        <p>No visit data submitted</p> 
        {% endif %}
          
      </div>
      <br>
      {% endfor %}
    </div>
    <div style="page-break-before: always" >
      page2
    </div>
  </body>
</html>
