{% extends 'sample_volumes/main.html' %} {% block content %}
<div class="col-md-12">
  <div class="row">
    <h2>View Routes</h2>
  </div>
  <br />
  <form class="form-inline" method="post" action="">
    {% csrf_token %}
    {% if selected_date %} {{ selected_date|json_script:"selected_date" }}
    {% endif %}
    <label class="sr-only" for="date">Route Date</label>
    <div class="input-group mb-2 mr-sm-2 route_date_picker">
      <input
        type="date"
        name="date"
        class="form-control"
        id="datePicker2"
        placeholder="Select Date"
      />
    </div>
    <button type="submit" class="btn btn-primary mb-2">Search</button>
  </form>
  <div class="card card-body">
    <table
      class="table table-sm table-striped table-bordered table-sm"
      id="data_table"
    >
      <thead>
        <tr>
          <th>District</th>
          <th>Date</th>
          <th>Route #</th>
          <th>Facilities</th>
        </tr>
      </thead>

      <tbody>
        {% for route in routes %}

        <tr>
          <td>{{route.district}}</td>
          <td>{{route.route_date|date:"d M, Y"}}</td>
          <td>{{route.route_number}}</td>
          <td>{{route.get_facilities}}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content%}
